body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90A4AE
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.navbar {
    background: #263238;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

}

.divLogo {
    display: flex;
    background-color: #ECEFF1;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 4px 0px;
}

.logo {
    font-size: 1.2em;
    font-weight: 800;
    color: black;
    margin-left: 10px;

}


.navItems {}

#items{
    /* width: 100vw; */
    margin: 20px 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#items p{
    width: 200px;
}